@import "tailwindcss";
@plugin "daisyui";

a.active {
  position: relative;
  color: #3498db;
  text-decoration: none; /* remove default underline */
}

a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px; /* lower underline further */
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, #3498db, #9b59b6);
  border-radius: 2px;
}
